.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  margin: 20px;
}

.form p {
  display: flex;
  justify-content: space-between;

  border: 1px black;
  padding: 10px;
  margin: 4px;

  width: 450px;
}

.form p textarea {
  width: 90%;
}
